body {
	background: rgb(32, 99, 185); 
    font-family: 'Bebas Neue',cursive;
}

#board{
    display: inherit;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
}

.title{
    width: 100%;
}

h1#messageArea {
	color: rgb(255, 255, 255);
    font-family:inherit;
    font-size: 7rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0 0.1em black, 0 0.2em rgba(0, 0, 0, 0.4);
    
}

.gamecont{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    
}
.formcont{
    width: 50%;
    margin-top: 5rem;
    align-self: top;
}
.tablecont{
    align-self: center;
    display: flex;
    flex-flow: row;
}

table {
    background: white;
    box-shadow: 0 0.4em black, 0 0.7em rgba(0, 0, 0, 0.4);
    border-collapse:separate;
	border-spacing: 0;
    margin: auto;
    
}

td, th {
    border-left:solid black 2px;
    border-top:solid black 2px;
}

th {
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

tr {
	height: 5rem;
}

td {
	width: 5rem;
	height: 5rem;
}

form {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
}

#guessInput {
    width: 20rem;
    align-self: center;
	background-color: white;
    border: none;
	border-radius:0.5rem;
	font-size: 1.5em;
    margin-bottom: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0.2em black, 0 0.4em rgba(0, 0, 0, 0.4);
}

#fireButton{
    align-self: center;
    border: none;
    background-color: #9a0d0d;
    width: 5rem;
    height: 5rem;
    border-radius:0.5rem;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 800;
    color: 	black;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0.6em black, 0 0.9em rgba(0, 0, 0, 0.4);

    position: relative;
    top: 0;
    transition: all 350ms ease-in-out;
}

#fireButton:hover {
    background:#b20a0a ;
    color: rgb(14, 14, 14);

    top: 0.2em;
    box-shadow: 0 0.4em black, 0 0.7em rgba(0, 0, 0, 0.4);
  }

#fireButton:active{
    background: red;
    top: 0.4em;
    box-shadow: 0 0.2em black, 0 0.5em rgba(0, 0, 0, 0.4);
    
    transition: 100ms ease;
}

caption{
    margin-bottom: 0.5rem;
    text-align: end;
    font-size: 1.2rem;
}
.rowTags{
    margin-top: 3rem;
    height:100%;
    font-size: 3.8rem;
}
.colTags{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 5rem;
    margin-left: 1.5rem;
    
}

.col{
    width: 4rem;
}

.legend{
    height: 0.8rem;
    width: 0.8rem;
    margin-bottom: 0.1rem;
    
}
input{
    outline:none;
 }

 .hit{
     background-color: rgba(255, 0, 0, 0.616);
 }
 .miss{
     background-color: rgba(128, 128, 128, 0.459);
 }



 @media only screen and (max-width: 1240px) {
    .gamecont{
        display: flex;
        flex-flow: column wrap;
    }
    .formcont{
        width: 100%;
        align-self: center;
        margin-bottom: 2rem;
    }
    .tablecont{
        align-self: center;
    }
    form {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    caption{
        font-size: 2rem;
    }
    #fireButton{
        width: 8rem;
        height: 8rem;
        font-size: 2rem;
    }
    #guessInput{
        height: 3rem;
        align-self: center;
    }
    .colTags{
        justify-content: center;
        padding-left: 1rem;
    }
    
    .col{
        width: 5.5rem;
    }
  }